@charset "UTF-8";

:root {
    --main-color: #DBB4AD;
	--color-font-navbar: #b0702c;
	--color-titulos: #faada0;
	--bg: #d5f4acee;
	--bg-header: #c1fafc;
	--color-botton: #faada0
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}


body {
	font-family: "Funnel Sans", sans-serif;
	line-height: 1.5em;
	font-size: 1em;
	
	color: black;

}

header {
	/*border: 1px dotted blue;*/

	position: fixed;
	background-color: var(--bg-header);
	color: var(--color-font-navbar);
	padding: 5px;
	width: 100%;
	height: 10vh;
	border-bottom: 2px solid #04f0f8;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between; /**o menu navegação vai ficar posicionado na margem direita**/
	align-items: center; /**o container do menu navegação vai ficar posicionado no meio do container, lembrando q o align-items posiciona os itens do eixo transversal - "cross-axis" **/
}

header img {
	flex: 0 0 180px;
	width: 66px;
	height: 66px;
	
}

header nav {
	/*border: 1px dotted blue;*/

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;

}

header nav a {
	text-decoration: none;
	color: var(--color-font-navbar);
	padding: 12px;
}

h1 {
	color: #ff846e;
	font-size: 3.6rem;
	line-height: 1.5;
	text-shadow: lightslategray 0.1em 0.1em 0.2em;

	padding-top: 90px;
}

h2 {
	color: #f1b1a5;
	font-size: 2.8rem;
	
}

.container-home {
	width: 100%;
	height: 90vh;
	
	background: url("./img/img-home.jpg") no-repeat;
	background-size: cover;
	background-position: cover;
	background-attachment: fixed;
	
	text-align: center;
	padding: 90px;	
}


/*
.container-home p {
	color: #e29f58;
	font-size: 1.4rem;
	padding: 48px;
	text-shadow: black 0.1em 0.1em 0.2em;
}
	*/

.btn {
    background: var(--color-botton);
    color: #fff;
    padding: 18px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 92px;
    display: inline-block;
    border-radius: 0.5rem;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

section.container-quem-somos {
	padding: 20px;
	background-color: #edfcfc;
}

article.text-media {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

}

article > div.text {
	/*border: 2px dashed blue;*/
	
	flex: 1 1 400px;
	text-align: center;
	padding: 32px;
}

article > div.text h2 {
	line-height: 1.4;
		
}

article > div.text p {
	color: var(--color-font-navbar);
	font-size: 18px;
	line-height: 2.2;
	text-align: center;
	padding: 36px;
	
}


article > div.media {
	/*border: 2px dashed violet;*/
	
	flex: 1 1 500px;
	padding: 32px;
}

div.media > img {
	display: block;
	margin: auto;
	width: 100%;
}

div.text > a {
	margin-top: 46px;
}

/**
.container-nossos-lacos {
	height: 100vh;
	margin: 0 auto;

}

.container-nossos-lacos h2 {
	text-align: center;	
	padding: 32px;

}

.container-grid {
	border: 3px solid blue;
	
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
	place-items: stretch center;
	place-content: stretch space-evenly;
	gap: 22px;
}

.item {
	border: 3px solid yellow;
	padding: 25px;

}
*/


footer {
	/*border: 1px dotted blue;*/

	background-color: var(--bg-header);
	color: var(--color-font-navbar);
	padding: 3px;
	width: 100%;

	text-align: center;
	font-size: 0.85rem;
}
 