@charset "UTF-8";

:root {
    --main-color: #DBB4AD;
	--color-font-navbar: #b0702c;
	--color-titulos: #faada0;
	--bg: #edfcfc;
	--bg-header: #c1fafc;
	--color-botton: #faada0
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: "Funnel Sans", sans-serif;
	line-height: 1.5em;
	font-size: 1em;
	
	color: black;
}

header {
	/*border: 1px dotted blue;*/

	position: fixed;
	background-color: var(--bg-header);
	color: var(--color-font-navbar);
	padding: 5px;
	width: 100%;
	height: 9vh;
	border-bottom: 2px solid #04f0f8;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between; /**o menu navegação vai ficar posicionado na margem direita**/
	align-items: center; /**o container do menu navegação vai ficar posicionado no meio do container, lembrando q o align-items posiciona os itens do eixo transversal - "cross-axis" **/
}

header img {
	flex: 0 0 180px;
	width: 58x;
	height: 58px;
	
}

header nav {
	/*border: 1px dotted blue;*/

	display: flex;
}

header nav a {
	text-decoration: none;
	color: var(--color-font-navbar);
	padding: 12px;
}


h1 {
	color: #f1b1a5;
	font-size: 3.2rem;
	line-height: 1.5;
	padding: 2px;
	text-align: center;
}

.container-nossos-lacos {
    border: 2px dashed orangered;

    width: 100%;
    min-height: 100vh;   
	padding-top: 55px;
	background-color: var(--bg)
}

.catalogo {
    border: 2px dashed blue;

    width: 80%;
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;  
}

.descricao {
    text-align: center;
    color: var(--color-font-navbar);
    font-size: 1.2em;
    font-weight: 200;
    line-height: 2; 
    padding: 12px;
}

.descricao a {
    background: var(--color-botton);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 200;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 12px;
}

.item {
    border: 2px dashed pink;
    border-radius: 5px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);   
}

.item:hover {
    transform: translateY(-6px) scale(1.02);
}

/*  
margin-top: 92px;
    display: inline-block;  
*/
