@charset "UTF-8";

:root {
    --main-color: #DBB4AD;
	--color-font-navbar: #b0702c;
	--color-titulos: #faada0;
	--bg: #edfcfc;
	--bg-header: #c1fafc;
	--color-botton: #faada0
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body { 
    font-family: "Funnel Sans", sans-serif; 
    background: var(--bg);
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* Container principal */ 
.container { 
    /*border: 2px dashed blue;*/
    /*background: var(--bg);*/
    padding: 2rem; 
    border-radius: 10px; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); 
    width: 60%; 
    text-align: center;
}

.container h1 { 
    color: #f1b1a5;
	font-size: 2.8rem;
	line-height: 1.5;
	padding: 6px;
	text-align: center;
}

/* Área dos inputs */ 
.input-area { 
    position: relative; 
    margin-bottom: 1rem;
}

.input-area input { 
    width: 100%; 
    padding: 0.8rem 2.5rem; 
    border: 1px solid #8ce2f6; 
    border-radius: 5px; 
    outline: none; 
    font-size: 1rem;
}

.input-area input:focus { 
    border-color: #4a90e2; 
    box-shadow: 0 0 5px rgba(74,144,226,0.5); 
}

/* Ícones dentro dos inputs */ 
.input-area i { 
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    color: #888; 
}

/*sobre senha*/
.sobre-senha,
.registro-link {
    padding: 8px;
    line-height: 1.6;  
}

.sobre-senha a,
.registro-link a {
    color: var(--color-font-navbar);
    font-size: 0.9em;
    font-weight: bold;
}

/* Botão de login */ 
.login { 
    display: block; 
    width: 100%; 
    padding: 18px; 
    margin: 16px auto; 
    background-color: var(--main-color); 
    color: #fff; 
    border: none; 
    border-radius: 6px; 
    font-size: 1.6rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease;